---
title: "Social & Contacts"
date: 2024-07-21T14:37:47Z
draft: false
private: true
---

<div class="center">
<div class="content">
<h2>Social & Contacts</h2>
<h3>Social</h3>
<ul>
<li><a href="https://t.me/lumaeris" target="_blank" rel="noopener noreferrer"><b>Telegram</b></a> &mdash; My primary and active channel, currently mostly written in Russian.</li>
<li><a href="https://gts.lumaeris.com/@lumaeris" target="_blank" rel="noopener noreferrer"><b>Fediverse</b></a> &mdash; My main profile, now self-hosted by me.</li>
<li><a href="https://github.com/Lumaeris" target="_blank" rel="noopener noreferrer"><b>GitHub</b></a> &mdash; Planning to move almost completelly to self-hosted Forgejo and Codeberg.</li>
<li><a href="https://bsky.app/profile/lumaeris.com" target="_blank" rel="noopener noreferrer"><b>Bluesky</b></a></li>
<li><a href="https://git.lumaeris.com/Lumaeris" target="_blank" rel="noopener noreferrer"><b>Forgejo</b></a></li>
<li><a href="https://codeberg.org/Lumaeris" target="_blank" rel="noopener noreferrer"><b>Codeberg</b></a></li>
<li><a href="https://ovk.to/ae" target="_blank" rel="noopener noreferrer"><b>OpenVK (ovk.to)</b></a></li>
<li><a href="https://soundcloud.com/lumaeris" target="_blank" rel="noopener noreferrer"><b>Soundcloud</b></a></li>
<li><a href="http://steamcommunity.com/id/lumaeris" target="_blank" rel="noopener noreferrer"><b>Steam</b></a></li>
<li><a href="https://www.youtube.com/@lumaeris" target="_blank" rel="noopener noreferrer"><b>YouTube</b></a></li>
<li><a href="http://4pda.to/forum/index.php?showuser=9078786" target="_blank" rel="noopener noreferrer"><b>4PDA</b></a></li>
</ul>
<h3>Contacts</h3>
<ul>
<li><b><a href="https://t.me/jilloester" target="_blank" rel="noopener noreferrer">Telegram</a></b></li>
<li><b>Matrix</b> &mdash; (@)jill:lumaeris.com</li>
<li><b>XMPP</b> &mdash; jill(@)lumaeris.com</li>
<li><b>E-mail</b> &mdash; contact(@)lumaeris.com</li>
</ul>
<p class="smol"><a href="..">Go back</a></p>
</div>
</div>
