---
title: "Hosted Services"
date: 2024-07-02T12:19:44Z
draft: false
private: true
---

<div class="center">
<div class="content">
<h2>Hosted Services</h2>
<p>Here are a few services I host on my server to provide at least some privacy. Feel free to use them! This list is subject to change.</p>
<ul>
<li><a href="https://4get.lumaeris.com" target="_blank" rel="noopener noreferrer"><b>4get</b></a> &mdash; Privacy respecting meta search engine with support for 23 (!) engines including SoundCloud, wiby and so many features that the creator 4got to mention (get it?).</li>
<li><a href="https://akademik.lumaeris.com" target="_blank" rel="noopener noreferrer"><b>Akademik</b></a> &mdash; An alternative frontend for academic.ru</li>
<li><a href="https://piped.lumaeris.com" target="_blank" rel="noopener noreferrer"><b>Piped</b></a> &mdash; An alternative YouTube frontend with built-in support for SponsorBlock and Return YouTube Dislike. Can be used with <b><a href="https://libretube.dev" target="_blank">LibreTube</a></b> (UPD mid-Feb 2025: no longer works, see <b><a href="https://gts.lumaeris.com/@lumaeris/statuses/01JM9Z4WC94NZRE4DVSBDKKJ62" target="_blank">thread</a></b>).</li>
<li><a href="https://txtd.lumaeris.com" target="_blank" rel="noopener noreferrer"><b>txt.</b></a> &mdash; HTTP proxy that parses only text, links and pictures from pages reducing internet traffic, removing ads and heavy scripts.</li>
<li><a href="https://skunkyart.lumaeris.com" target="_blank" rel="noopener noreferrer"><b>SkunkyArt</b></a> &mdash; An alternative frontend for DeviantArt.</li>
<li><a href="https://shoelace.lumaeris.com" target="_blank" rel="noopener noreferrer"><b>Shoelace</b></a> &mdash; An alternative frontend for Threads.</li>
<li><a href="https://searx.lumaeris.com" target="_blank" rel="noopener noreferrer"><b>SearXNG</b></a> &mdash; Privacy respecting meta search engine with support for more than 70 (!!!) engines. The gold standard in this category.</li>
<li><a href="https://translite.lumaeris.com" target="_blank" rel="noopener noreferrer"><b>TransLite</b></a> &mdash; Alternative frontend for Google Translate, DeepL Translate and Yandex Translate.</li>
<li><a href="https://intellectual.lumaeris.com" target="_blank" rel="noopener noreferrer"><b>Intellectual</b></a> &mdash; Alternative frontend for Genius.</li>
<li><a href="https://wikimore.lumaeris.com" target="_blank" rel="noopener noreferrer"><b>Wikimore</b></a> &mdash; Simple alternative frontend for Wikimedia projects (not just Wikipedia).</li>
</ul>
<p class="smol"><a href="..">Go back</a></p>
</div>
</div>
