<!DOCTYPE html>
<html lang="{{ .Site.Language }}" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/png">
    <meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}">
    <link rel="canonical" href="https://lumaeris.com{{ .RelPermalink }}" />
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <link rel="preconnect" href="https://lumaeris.com/">
    <link rel="stylesheet" href="https://lumaeris.com/assets/font/inter.css">
    <style>
        :root { font-family: 'Inter', sans-serif; }
        @supports (font-variation-settings: normal) {
          :root { font-family: 'Inter var', sans-serif; }
        }

        body {
            padding: 0;
            margin: 0;
            background-color: #140D21;
            font-size: 14pt;
            color: white;
        }

        span {
            padding: 0;
            margin: 0;
            font-weight: 600;
        }

        .mainlink {
            font-size: 32pt;
            font-weight: 600;
        }

        a {
            padding: 0;
            margin: 0;
            color: white;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            text-align: left;
        }

        .content {
            max-width: 540px;
            padding: 20px;
        }

        .smol {
            opacity: 0.5;
            font-weight: 400;
            font-size: 11pt;
	    text-align: center;
        }

	.webring {
            opacity: 0.7;
	    font-weight: 600;
	    font-size: 9pt;
	    text-align: center;
	}

        img {
	    width: 100%;
            vertical-align: middle;
        }

	.logo {
	    text-align: center;
	}
    </style>
    <meta name="zen-verification" content="1P0JsHfwRV4PCZQn780UnZzOZd8ItgyozaoGymgAZ5bHVFEvCjkCvFdYrJLhB69e" />
</head>
<body>
    {{ block "main" . }}
    {{ end }}
</body>
</html>
