{{ define "main" }}
    <div class="center">
        <div class="content">
	    <p><img src="assets/img/logofull.svg" style="max-width:320px;" alt="LUMAERIS"></p>
	    <p>My name is Jill, known online as <b>Lumaeris</b>, Russian-based 22 y.o. EDM (mostly dubstep) artist and web developer.</p>
	    <p>I participated in the development of <a href="https://github.com/openvk" target="_blank"><b>OpenVK</b></a>, and also own YouTube channels such as <a href="https://www.youtube.com/@LuminarTelevision" target="_blank"><b>Luminar Television</b></a> and <a href="https://www.youtube.com/@LuminarMusic" target="_blank"><b>Luminar Music</b></a>.</p>
	    <p>Expect a new website design in the future.</p>
        <p class="smol"><a href="/hosted-services">Hosted Services</a> / <a href="/contact">Social & Contacts</a> / <a href="/lumaeris.asc">PGP key</a> (<a href="https://keyoxide.org/A530A49EB5346E40" target="_blank" rel="noopener noreferrer">Keyoxide</a>)</p>
        <a href="https://gts.lumaeris.com/@lumaeris" rel="me" style="display: none;">m</a>
        <p class="logo"><img style="width:18px !important;" src="assets/img/logo.svg" alt="Logo"></p>
	    <p class="webring"><a href="https://webring.otomir23.me/15/prev">{{ partial "wrprev.html" }} ‹</a> <a href="https://webring.otomir23.me/">(rutg webring)</a> <a href="https://webring.otomir23.me/15/next">› {{ partial "wrnext.html" }}</a></p>
        </div>
    </div>
{{ end }}
